[submodule "deps/parson"]
	path = deps/parson
	url = https://github.com/kgabis/parson.git
[submodule "deps/esp32-queue-message"]
	path = deps/esp32-queue-message
	url = https://github.com/epictrave/esp32-queue-message.git
[submodule "deps/global-root-ca"]
	path = deps/global-root-ca
	url = https://github.com/epictrave/global-root-ca.git
